<h1><%=@store.name()%></h1>

<form action="/store_delete/<%= @store.id() %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit">Remove This Store From Database</button>
</form>
