<h1><%=@store.name()%></h1>

<form action="/store_delete/<%= @store.id() %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit">Remove This Store From Database</button>
</form>

<form action="/store_update/<%= @store.id() %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="name">Change the Name of the Store</label>
  <input type="text" name="name">
  <button type="submit">Update Store</button>
</form>

<button>
<a href="/stores">Back to list of Stores</a>
</button>
