<h1>Here You Can See a List of All of the Stores in the Database</h1>

<% if @stores.any?() %>
    <ul>
    <% @stores.each() do |store| %>
      <li><a href="/stores/<%= store.id() %>"><%= store.name().split.map(&:capitalize).join(' ') %></a></li>
    <% end %>
    </ul>

<% else %>
    <h5>There are no stores in the database.</h5>
<% end %>

<form action="/stores" method="post">
  <label for="name">Enter In The Name of The Store</label>

  <input type="text" name="name">

  <button type="submit">Add Store</button>

</form>
